<h1>Welcome to {{title}}</h1>
{{#each album}}
    <div class="album_container">
        <h2>{{this.title}}<br></h2>
        <p>Featuring: {{this.featuring}} <br></p>
        <p>Length: {{this.length}}<br></p>
    </div>
    {{/each}}

    <form id="post_form">
        <h2>Add your own songs to this album?</h2>
        <input type="text" name = "title" placeholder="Enter Song Title">
        <input type="text" name ="featuring" placeholder="Enter Featured Artist"/>
        <input type="text" name ="length" placeholder="Enter Song Length"/>
        <input type="submit" value="Submit Album"/>
    </form>

