<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About Me</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Animal Fun Facts</h1>
<ul class="animal-list">
  {{#each animals}}
    <li class="animal-item">
      <p>Name: {{this.name}}</p>
      <p>Habitat: 
        {{#if this.habitatDetails.length}}
          {{this.habitatDetails.0.habitatName}} 
        {{else}}
          N/A
        {{/if}}
      </p>
      <p>Fun Fact: {{this.funFact}}</p>
    </li>
  {{/each}}
</ul>


    <script src="/javascripts/script.js"></script>
  </body>
</html>





