<h1>{{title}}</h1>
<div class="employee" id="id">
    <h2></h2>
    <p><span class="bold">Email:</span> </p>
    <p><span class="bold">Department:</span> </p>
    <p><span class="bold">Job Title:</span>  </p>
</div>