body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

.knights, .from {
  border: 1px solid black;
  padding: 20px;
}