

body{
  margin: 0;
  background-color: #D6CCC2;
  font-family: "Work Sans", system-ui;
}
/* navbar */
ul.nav, .side{
  padding:1%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.hamburger{
  display: none;
}
.side{
  width: 15%;
  padding-right: 2%;
  padding-left: 2%;
}
.side li:hover{
  text-decoration: underline;
}
div li{
  cursor: pointer;
}
.brand{
  letter-spacing: .2em;
  font-weight: bold;
  font-family: "DM Serif Display", system-ui;
  align-self: center;
}
.branding h1{
  font-family: "DM Serif Display", system-ui;
  font-size: 5em;
  margin: 0%;
}
.branding p:not(.btn){
  font-size: 1.4em;
  margin: 0%;
  margin-bottom: 4%;
}
/* header */
header{
  color: white;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1516874195056-d83a2cac03a4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}
.branding{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s ease;
}
.blank{
  animation: blink 3s infinite;
  background-color: rgba(0, 0, 0, 0.205);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.btn{
  border: solid 1.5px;
  padding: 1% 2%;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  border-radius: 50px;
}
@keyframes blink{
  20% {background-color: rgba(0, 0, 0, 0.212);}
  50% {background-color: rgba(0, 0, 0, 0.315);}
  75% {background-color: rgba(0, 0, 0, 0.205);}
  80% {background-color: rgba(0, 0, 0, 0.164);}
}
/* about */
.about{
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 100vh;
}
.about_content{
  grid-area: 1/2/1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}
.about_desc{
  padding: 10%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_desc h3{
  font-family: "DM Serif Display", system-ui;
  letter-spacing: .1em;
}
.about_content p{
  line-height: 200%;
}
#b_grid{
  grid-area: 1/1/1/1;
  animation: blink 3s infinite;
  background-color: rgba(0, 0, 0, 0.205);
  width: 60%;
  top: 100vh;
  display:flex;
  align-items: start;
  color: white;
}
.about_image{
  grid-area: 1/1/1/1;
  background-image: url("https://images.unsplash.com/photo-1604745372175-27daa24a0a0e?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;
  background-attachment: fixed;
}
.smaller{
  font-size: .5em;
}
#b_grid h1{
  font-family:"DM Serif Display", system-ui;
  color: white;
  font-style: italic;
  font-size: 5em;
  line-height: 60%;
  background-color: black;
  margin: 20% 5%;
  position: sticky;
  top: 10%;
}
.about_two{
  border-top: solid 1px;
  grid-area: 2/1/2/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.good{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.good img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%) hue-rotate(12deg) brightness(101%) contrast(105%);
}

/* shop */
.section{
  display: flex;
  width: 100%;
}
.candle{
  display: inline-flex;
  flex-wrap: wrap;
}
#shopCandle{
  width: 75%;
}
.stock{
  color: #A5978B;
}
.col{
  display: block;
  transition: .3s ease;
  padding: 2%;
  margin: 2%;
  width: 25%;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.041) 0px 1px 3px 2px;
}

#label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100%;
  align-self: start;
  text-align: start;
  padding: 0%;
}
#label{
  cursor: default;
  color: white;
  background-color: #A5978B;
}
.row_description{
  padding: 5%;
}
.row_description h3{
  font-family: "DM Serif Display", system-ui;
  letter-spacing: .1em;
}
.more{
  cursor:pointer;
  transition: .3s ease;
  padding: 5%;
  text-align: center;
}
.more:hover{
  color: black;
  background-color: #F5EBE0;
}

.incentive{
  display: inline;
  border-radius: 5px;
  padding: 0% 5%;
  color: white;
  text-transform: uppercase;
}
.incentive#none{
  visibility: hidden;
}
.incentive#new{
  background-color: #adc178;
}
.incentive#popular{
  background-color: #f15152;
}
.incentive#sold-out{
  background-color: #A5978B;
}
.incentive#limited-time{
  background-color: #ba181b;
}

.col:hover:not(#label){
  color: black;
  background-color: #F5EBE0;
}

.shop_image{
  width: 90%;
  transition: .3s ease;
  margin: 2%;
}
.shop_image:hover, .col:hover .shop_image{
  transform: scale(102%);
}

.pDets{
  display:flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.item{
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.cart{
  width: 30px;
  height: 30px;
  padding: 2%;
  border-radius: 2px;
  align-self: center;
  background-color: #A5978B;
  transition: .3s ease;
  cursor: pointer;
}
.cart:hover, .col:hover .cart{
  background-color: white;
  transform: translateY(-2px);
}
.name,.price{
  margin: 0;
}
.price{
  font-weight: bold;
}

/* footer */
.newsletter{
  color: white;
  padding: 15%;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1476873282730-9018f17bdf4e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.newsletter h1{
  font-family:"DM Serif Display", system-ui;
  font-size: 4em;
  margin: 0;
}
.newsletter p:not(.signup){
  font-size: 1.4em;
}
.subscribe{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  all:unset;
  text-align: start;
  color: black;
  background-color: white;
  border: none;
  padding: 2% 3%;
  width: 25%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.253);
}
.signup{
  background-color: white;
  color: black;
  padding: 2% 3%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: .3s ease;
  border-left: solid lightgray 1px;
  box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.253);
}
.signup:hover{
  background-color: black;
  color: white;
}

.foot{
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
}
.company{
  width: 60%;
  padding: 5% 2%;
  padding-top: 5%;
  display: flex;
}
.morefoot{
  padding-top: 5%;
  width: 40%;
}
.socials{
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.socials img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%) hue-rotate(12deg) brightness(101%) contrast(105%);
  cursor: pointer;
  transition: .3s ease;
}
.socials img:hover{
  transform: scale(110%);
}
.other{
  padding: 10%;
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
}
.number{
  color: white;
  font-weight: normal;
}
ul.company_legality{
  list-style: none;
}
ul#col2.company_legality{
  padding-left: 10%;
}
.c_label{
  cursor: default;
  font-weight: bold;
  padding-bottom: 20%;
}
.c_labelnum{
  padding-bottom: 5%;
}
.company_legality li{
  padding-top: 10%;
  padding-bottom: 10%;
}

.copyright{
  background-color: black;

  color: white;
  padding: 2% 5%;
  margin: 0%;
}

@media screen and (max-width: 1055px){
/* about */
  .about_content{
      grid-template-rows: 40% 60%;        
  }
  .about_two{
      grid-template-columns: none;
  }
/* footer */
  input{
      width: 40%;
      padding: 2% 5%;
  }
  .signup{
      padding: 2% 5%;
  }

  .other{
      flex-direction: column;
  }
}

@media screen and (max-width:768px){
/* header */
  .side{
      display: none;
  }
  .hamburger{
      cursor: pointer;
      display: block;
  }
  .branding h1{
      font-size: 4em;
  }
  .branding p:not(.btn){
      font-size: 1.3em;
  }
  .btn{
      padding: 2% 4%;
  }

/* about */
  .about_desc{
      padding: 0% 5%;
  }
  .about_desc h3{
      margin: 0;
  }

/* footer */
  .newsletter{
      padding: 20% 5%;
  }
  .newsletter h1{
      font-size: 3em;
  }
  .newsletter p:not(.signup){
      font-size: 1.3em;
  }

}

@media screen and (max-width: 696px){
/* about */
  .about{
      grid-template-columns: 100%;
      grid-template-rows: repeat(2,50vh);
  }
  .about_image{
      grid-area: 1/1/1/1;
  }
  .about_image h1{
      align-self: flex-end;
  }
  #b_grid{
      width: 100%;
      height: 50vh;
  }
  .about_content{
      grid-area: 2/1/2/1;
      grid-template-rows: repeat(2, 50%);
  }
  .about_desc h3{
      display: none;
  }
  .about_two{
      grid-template-columns: repeat(3, 1fr);
  }

/* footer */
  .foot{
      flex-direction: column;
  }
  .company, .morefoot{
      padding: 5%;
  }
  .company_legality{
      padding-left: 0%;
  }
  ul#col2.company_legality{
      padding-left: 30%;
  }
  .other{
      padding: 0%;
      padding-bottom: 10%;
  }
  .morefoot{
      padding-top: 0%;
      display: flex;
      flex-direction: column-reverse;
  }
}
