<div class="nyc-container">
  {{#each nyc}}
    <div class="nyc-card">
      <h2 class="nyc-name">{{this.name}}</h2>
      <p class="nyc-type">Type: {{this.type}}</p>
      <p class="nyc-borough">Borough: {{this.borough}}</p>
    </div>
  {{/each}}
</div>