body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
    flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.post {
  border: 1px solid black;
  padding: 20px;
}

.post img {
  width: 100%;
}

#post_form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.comment_form {
  width: 100%;
  display: flex;
  gap: 10px;
}

.comment_form input[type="text"] {
  flex: 1;
}

.comment {
  margin-left: 20px;
}
